{% extends "base.html" %}

{% block content %}

		<h1>You are Raymond</h1>

		<img src="/static/content/0.gif" width="90%" height="80%"/>
			<h1 style="font-size:200%"><a href="/page/1">Start reading</a></h1>
			<h3><a href="/page/{{ recent_page }}">Most recent</a> | <a href="/page/list">Page list</a></h3>

			<p>Website developed by <a href="https://twitter.com/elisttm2">eli</a>. Story and artwork by <a href="https://twitter.com/elisttm2">eli</a> and <a href="https://twitter.com/png103">peter</a>.</p>

{% endblock %}